/blindwikiphonegap
BlindWiki2/services/backend_reference_files/main.php
/uploads
.venv
*.pyc
SeamlessExpressive/*.pt
SeamlessExpressive/seamless
AI/embeddings

# Office intermediate files
~$* 

# LaTeX intermediate files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.xdv
*-converted-to.*
*.ps
*.eps
*.tex~
TFM/main.pdf

# Bibliography related
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool related
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync